<launch>

    <arg name="map_file" default="$(find my_robot)/maps/world_map.yaml"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="base_frame_id" value="robot_footprint"/>
        <param name="global_frame_id" value="map"/>

        <!-- tweaks -->
        <rosparam file="$(find my_robot)/config/amcl_params.yaml" command="load"/>
        
        <!-- position set to match sapwn robot position -->
        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="0"/>
    </node>

    <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen">

        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

        <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
    </node>
    

</launch>